body {
  margin: 10px 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f4f7f8; }

h1 {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #171a1c; }

@font-face {
  font-family: 'Vivaldi Italic';
  src: url("../fonts/vivaldi_italic/vivaldi_italic.eot");
  src: url("../fonts/vivaldi_italic/vivaldi_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/vivaldi_italic/vivaldi_italic.svg#Vivaldi Italic") format("svg"), url("../fonts/vivaldi_italic/vivaldi_italic.woff") format("woff"), url("../fonts/vivaldi_italic/vivaldi_italic.ttf") format("truetype");
  margin: 0;
  padding: 0; }

/* Mixins */
#logo {
  font-family: 'Vivaldi Italic';
  font-size: 2.8em;
  font-weight: 600; }

.col-container {
  zoom: 1;
  margin: 0 auto 10px; }
  .col-container:before, .col-container:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .col-container:after {
    clear: both; }
  @media (min-width: 320px) {
    .col-container {
      width: 100%; } }
  @media (min-width: 640px) {
    .col-container {
      width: 100%; } }
  @media (min-width: 960px) {
    .col-container {
      width: 960px; } }
  @media (min-width: 1024px) {
    .col-container {
      width: 1024px; } }

.col-container-full {
  width: 100%; }

.col-3 {
  float: left; }
  @media (min-width: 320px) {
    .col-3 {
      width: 93%;
      padding-left: 3%; } }
  @media (min-width: 640px) {
    .col-3 {
      width: 32%;
      padding-left: 0;
      margin-left: 2%; }
      .col-3:first-child {
        margin-left: 0; } }
  @media (min-width: 960px) {
    .col-3 {
      width: 32%;
      padding-left: 0;
      margin-left: 2%; }
      .col-3:first-child {
        margin-left: 0; } }
  @media (min-width: 1024px) {
    .col-3 {
      width: 32%;
      padding-left: 0;
      margin-left: 2%; }
      .col-3:first-child {
        margin-left: 0; } }

.col-2 {
  float: left; }
  @media (min-width: 320px) {
    .col-2 {
      width: 100%;
      text-align: center; }
      .col-2:first-child {
        margin-bottom: 10px; } }
  @media (min-width: 640px) {
    .col-2 {
      width: 100%;
      text-align: center; }
      .col-2:first-child {
        margin-bottom: 10px; } }
  @media (min-width: 960px) {
    .col-2 {
      width: 50%;
      text-align: left; }
      .col-2:first-child {
        width: 45%; } }
  @media (min-width: 1024px) {
    .col-2 {
      width: 50%;
      text-align: left; } }

.customers-slider {
  background: #fff;
  border-top: 1px solid #cfcfce; }
  @media (min-width: 320px) {
    .customers-slider {
      display: none; } }
  @media (min-width: 640px) {
    .customers-slider {
      display: block; } }

.logos-slider {
  background: #fff;
  border-top: 1px solid #cfcfce;
  border-bottom: 1px solid #cfcfce;
  margin: 20px 0; }

.flexslider {
  height: 400px; }

#customers {
  margin: 0 auto;
  width: 70%; }

.flexslider2 {
  padding: 20px;
  overflow: hidden;
  height: 100px; }
  .flexslider2 img {
    opacity: 0.4;
    filter: alpha(opacity=40); }
  .flexslider2 img:hover {
    opacity: 1;
    filter: alpha(opacity=100); }
  .flexslider2 .slides li {
    margin-right: 30px; }
  .flexslider2 .slides img {
    height: 75px;
    margin-top: 10px; }

.todays-special {
  float: left;
  width: 100%;
  padding: 10px 0 0 0;
  color: #6D0000;
  font-weight: normal;
  font-size: 1.2em;
  background: #fff;
  border-top: 1px solid #cfcfce;
  border-bottom: 1px solid #cfcfce;
  cursor: pointer;
  cursor: hand; }
  .todays-special .monday {
    background: url("../images/days/monday.png") no-repeat; }
  .todays-special .tuesday {
    background: url("../images/days/tuesday.png") no-repeat; }
  .todays-special .wednesday {
    background: url("../images/days/wednesday.png") no-repeat; }
  .todays-special .thursday {
    background: url("../images/days/thursday.png") no-repeat; }
  .todays-special .friday {
    background: url("../images/days/friday.png") no-repeat; }
  .todays-special .monday, .todays-special .tuesday, .todays-special .wednesday, .todays-special .thursday, .todays-special .friday {
    padding: 5px 40px;
    margin-left: 40px;
    min-height: 30px; }
  .todays-special .order-special-online {
    display: none;
    padding: 5px 40px 0;
    margin-left: 40px; }
  .todays-special .order-form {
    float: left; }
    @media (min-width: 640) {
      .todays-special .order-form {
        width: 336px; } }
    @media (min-width: 980) {
      .todays-special .order-form {
        width: 600px; } }
  .todays-special .chef-holder {
    background: url("../images/o-FEMALE-CHEF-facebook.jpg") no-repeat bottom right;
    height: 400px;
    width: 308px;
    float: left; }
  .todays-special .order-button {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #6D0000;
    color: #fff;
    border: 0;
    padding: 10px;
    font-size: 1.2em; }

.ul-menu {
  zoom: 1;
  list-style: none;
  margin: 10px auto;
  width: 500px;
  font-size: 0.9em;
  color: #171a1c;
  font-weight: bold;
  /* outline: 1px solid red; */ }
  .ul-menu:before, .ul-menu:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .ul-menu:after {
    clear: both; }
  .ul-menu li {
    float: left;
    padding: 0.8em 0.5em 0.8em 0.5em;
    border-top: 4px solid #336699;
    text-transform: uppercase;
    margin-left: 2em; }
    .ul-menu li:first-child {
      margin-left: 0; }
    .ul-menu li a {
      text-decoration: none;
      color: #171a1c; }
  .ul-menu li:hover {
    border-top: 4px solid #6D0000;
    background: #fff; }
  .ul-menu .selected {
    background: #fff;
    border-top: 4px solid #6D0000; }
  @media (min-width: 320px) {
    .ul-menu {
      display: none; } }
  @media (min-width: 640px) {
    .ul-menu {
      display: block; } }

.select-menu {
  margin: 0 auto;
  background: #c0c0c0;
  border: 1px solid #999;
  border-radius: 7px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3) inset;
  padding: 0;
  font-size: 14px;
  color: #000;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  width: 93%;
  margin-left: 4%; }
  @media (min-width: 320px) {
    .select-menu {
      display: block; } }
  @media (min-width: 640px) {
    .select-menu {
      display: none; } }
  .select-menu .select-menu-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; }
    .select-menu .select-menu-ul li {
      text-transform: uppercase;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      border-top: 1px solid #999;
      padding: 7px; }
    .select-menu .select-menu-ul li:hover {
      background: #c9c9c9;
      cursor: pointer; }

.select-menu-ul {
  display: none; }
  .select-menu-ul a, .select-menu-ul a:hover, .select-menu-ul a:visited {
    text-decoration: none;
    color: #000; }

.index-3-box {
  zoom: 1;
  margin-top: 20px; }
  .index-3-box:before, .index-3-box:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .index-3-box:after {
    clear: both; }
  .index-3-box .image {
    height: 150px;
    float: left;
    width: 100%; }
  .index-3-box .image img {
    width: 99.4%;
    height: 185px;
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999; }
  .index-3-box .title {
    background: #6D0000;
    float: left;
    width: 100%;
    /* @include border-top-radius(10px); */ }
  .index-3-box h1 {
    padding: 6px;
    color: #fff; }
  .index-3-box .content {
    padding: 10px;
    float: left;
    background: #fff;
    border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
    border: 1px solid #999;
    border-top: 0; }

.index-3-box-hover {
  display: block; }

.footer {
  font-size: 0.8em;
  vertical-align: baseline; }
  .footer a {
    text-decoration: none;
    color: #000; }
  .footer a:hover {
    text-decoration: underline; }

.social {
  zoom: 1;
  margin: 0 auto;
  width: 74px; }
  .social:before, .social:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .social:after {
    clear: both; }
  .social li {
    list-style: none;
    float: left;
    margin-left: 10px; }
    .social li:first-child {
      margin-left: 0; }
  .social .facebook {
    background: url("../images/social/facebook.png") no-repeat;
    width: 32px;
    height: 32px; }
  .social .twitter {
    background: url("../images/social/twitter.png") no-repeat;
    width: 32px;
    height: 32px; }

/* Templates */
